#hero {
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 1.5rem;
	margin-bottom: 3rem;
}

@media only screen and (min-width: 700px) {
	#hero {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-template-rows: repeat(1, 1fr);
		grid-row-gap: 1.5rem;
	}
}

#hero-text {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 1rem;
}

#description {
	width: 100%;
	text-align: left;
	padding: 1rem 0;
	width: auto;
	font-size: 1.4rem;
	color: #333;
	font-weight: 500;
	font-family: Arial;
	line-height: 2rem;
}

#description-title {
	width: 100%;
	line-height: 2rem;
	font-size: 2rem;
	font-weight: 550;
	text-align: left;
}

@media only screen and (max-width: 300px) {
	#hero div svg {
		display: none;
	}
}

#head {
	animation: headshake 2s ease infinite alternate;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes headshake {
	from {
		transform: rotateZ(-12deg);
	}
	to {
		transform: rotateZ(12deg);
	}
}

#Ball1,
#Ball2,
#Ball3 {
	animation: grow 1s ease infinite alternate;
	transform-origin: center;
	transform-box: fill-box;
}

#Ball1 {
	animation-delay: 1s;
}

#Ball2 {
	animation-delay: 0.5s;
}

#Ball3 {
	animation-delay: 0;
}

@keyframes grow {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

#accounts-section {
	background-color: #63a4ff;
	background-image: linear-gradient(315deg, #2193b0 20%, #6dd5ed 74%);
	margin-bottom: 2rem;
	padding: 3rem;
	text-align: center;
	overflow: visible;
}

#accounts-section h3.title {
	font-size: 2rem;
	color: black;
	padding: 1rem;
}

@media only screen and (min-width: 625px) {
}

#signup {
	display: flex;
	justify-content: space-around;

	padding: 1rem 0;
}

#signup-text {
	display: none;
}

@media only screen and (min-width: 538px) {
	#signup-text {
		width: 40%;
		flex-grow: 1;
		margin: 0 1rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#signup-text p {
	font-size: 2rem;
	font-weight: 200;
	color: #00b0ff;
	text-transform: uppercase;
	line-height: 4rem;
	font-family: 'Permanent Marker', cursive;
}

@media only screen and (min-width: 690px) {
	#signup-text p {
		font-size: 2.5rem;
	}
}

#signup-form {
	flex-grow: 2;
	margin: 0 1rem;
}
