#logos {
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
}

.main-logo {
	margin: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	animation: 0.4s infinite alternate shake;
	animation-timing-function: ease-in-out;
}

@keyframes shake {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(1rem);
	}
}

#description {
	margin-bottom: 2rem;
}

#description,
#description p {
	padding: 1rem;
	font-size: 1.6rem;
	border-radius: 10px;
	background-color: #00c5cd;
}

#hide-on-mobile {
	display: none;
}

#accounts-section {
	margin-bottom: 2rem;
	padding: 1rem;
	text-align: center;
}

#accounts-section h3.title {
	font-size: 2rem;
	color: white;
}

#signup {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
	#logos {
		display: block;
	}

	#description,
	#description p {
		opacity: 0.8;
	}

	#hide-on-mobile {
		display: block;
	}
}
