nav {
	margin: 0 5px 0 5px;
}

#nav-span {
	display: flex;
	margin-bottom: 5px;
}

#loginLink {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	margin-left: auto;
	margin-right: 1rem;
	margin-bottom: 8px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: red;
	border-radius: 8px;
	transition: all 240ms ease;
}

#loginLink:hover {
	background-color: white;
	color: red;
	transition: all 240ms ease;
}

nav span.fas.fa-bars {
	margin: 0.4rem;
	font-size: 2rem;
}

nav ul.nav-list {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul.nav-list.active {
	display: flex;
	flex-direction: column;
}

nav ul li {
	font-size: 1.6rem;
	padding: 0 0.6rem 0.6rem;
	border-radius: 3px;
	margin: 0;
	margin-bottom: 0.3rem;
}

.nav-link {
	padding: 0.5rem;
	display: flex;
	align-items: center;

	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.4rem;
	cursor: pointer;

	transition: all 240ms ease-in-out;
}

.nav-link:hover {
	background-color: #5bdfeb;
	transform: translate(0.5rem, 0.5rem);
}

#company {
	position: relative;
}

#company button {
	display: block;
	width: 100%;
	background-color: #00c5cd;
	outline: none;
	border: none;
}

.companyList {
	display: none;
	position: absolute;
	z-index: 999;
	background-color: #00c5cd;
	list-style: none;
	border: 3px solid white;
	border-top: 0;
	border-radius: 10px;
}

ul.companyList.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(1.2rem, 0.8rem);
}

.companyList li {
	width: 100%;
}

span.nav-link .fa.fa-angle-down {
	font-size: 1.4rem;
	transition: all 240ms ease;
	margin-left: 0.5rem;
}

span.nav-link .fa.fa-angle-down.rotate {
	transform: rotate(180deg);
	transition: all 240ms ease;
}

@media screen and (min-width: 700px) {
	#loginLink {
		position: relative;
		top: -80px;
	}
	nav ul li {
		width: 100%;
	}

	.nav-link {
		justify-content: center;
	}

	ul.companyList.active {
		width: 100%;
	}

	nav ul.nav-list,
	nav ul.active.nav-list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	nav span.fas.fa-bars {
		display: none;
	}
}
