form {
	font-family: 'Roboto Slab', serif;
	border: 3px solid #00c5cd;
	max-width: 450px;
	min-width: 400px;
	margin: 0.6rem;
	padding: 1rem;
	background-color: white;
	background-image: url('../resources/pics/wood.jpg');
	text-align: center;
}

#form-title {
	font-family: 'Roboto Slab', serif;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
