form {
	font-family: 'Roboto Slab', serif;
	border: 3px solid #00c5cd;
	border-radius: 1rem;
	padding: 1rem;
	/*background-image: url('../../resources/pics/wood.jpg');*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#form-title {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}
