.buttonElement {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
}

div.buttonElement .button {
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 1.4rem;
	border: none;
	background-color: #00c5cd;
	outline: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	transition: 480ms;
}

div.buttonElement .button:hover {
	background-color: #5bdfeb;
	transition: 480ms;
}
