.App {
	background-attachment: none;
	background-color: rgba(31, 18, 18, 0.534);
}

header {
	margin: 0;
	margin-bottom: 0.8rem;

	background-color: #00c5cd;
	color: white;
}

span#icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-logo {
	display: block;
	border-radius: 50%;
	max-height: 80px;
	margin: 0.3rem;
}

main {
	padding: 0 1rem 0 1rem;
}

#logos {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.main-logo {
	margin: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	animation: 0.4s infinite alternate shake;
	animation-timing-function: ease-in-out;
}

@keyframes shake {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(1rem);
	}
}

#description {
	margin-bottom: 1rem;
}

#description,
#description p {
	padding: 0.5rem;
	font-size: 1.6rem;
	border-radius: 10px;
	background-color: #00c5cd;
}

#accounts-section {
	margin-bottom: 1rem;
	padding: 0.5rem;
}

#accounts-section h3.title {
	font-size: 2rem;
	color: white;
}

#signup {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

#footer {
	background-color: #00c5cd;
}

@media screen and (min-width: 600px) {
	.App {
		text-align: center;
		background-image: url('./resources/pics/background.jpg');
		background-attachment: fixed;
	}

	#logos {
		display: block;
	}

	#description,
	#description p {
		opacity: 0.8;
	}
}
